In [12]:
import pandas as pd

master_set = pd.read_csv('C:\hmkd1\m4_db\dataset/마스터셋.csv', encoding='cp949', index_col=0)
master_set

,성별,연령대,거주지역,구매금액,거래건수,평균금액,선호상품,구매건수,최고가구입상품,가격,...,D7Q,D8Q,TOTALQ1,TOTALQ2,TOTALQ3,TOTALQ4,TOTALQ5,TOTALQ6,TOTALQ7,TOTALQ8
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,85042550,681,124878,A010401,60,A070102,4014000,...,0,0,9141590,10783765,10781550,23334762,9302985,8595380,7806580,5295938
2,M,60세이상,100.0,99880760,676,147752,A010403,95,A070101,2856650,...,44000,0,14123470,10199760,14841180,7080920,18481480,9310130,13842600,12001220
3,M,60세이상,33.0,3165167,490,6459,C120101,326,A050501,80000,...,0,0,302782,548433,648188,394366,279310,312970,421017,258101
4,F,60세이상,16.0,16693810,533,31320,A010401,45,A040302,372400,...,0,0,1309643,3732463,2434410,1823100,1737292,1919645,2127112,1610145
5,M,60세이상,100.0,13237070,426,31072,A010302,160,A020302,638000,...,0,29300,3145330,2314820,1827290,398440,2124430,810500,0,2616260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,F,20세~24세,69.0,5779280,366,15790,D010401,43,A020501,303250,...,672960,581790,0,0,130300,1060320,1131020,1264900,805550,1387190
19380,F,20세~24세,39.0,3912977,232,16866,D040109,34,D070201,139600,...,296470,2026720,0,0,0,522700,486830,351120,368907,2183420
19381,F,40세~44세,460.0,6040669,402,15026,B100502,32,A050309,321300,...,0,0,0,0,0,0,1124750,1672421,1867501,1375997
19382,F,45세~49세,460.0,4401773,435,10119,B670403,29,B750304,104000,...,0,0,0,0,0,0,786399,1040340,1266187,1308847
19383,F,25세~29세,500.0,2384400,132,18063,D010401,15,A040212,149000,...,440670,754740,0,0,0,0,0,27000,1092360,1265040

In [15]:
import pandas as pd

# 등급을 매길 컬럼들의 이름 리스트
columns = ['의류1Q', '의류2Q', '의류3Q', '의류4Q', '의류5Q', '의류6Q', '의류7Q', '의류8Q']

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = ['의류1Q_Rank', '의류2Q_Rank', '의류3Q_Rank', '의류4Q_Rank', '의류5Q_Rank', '의류6Q_Rank', '의류7Q_Rank', '의류8Q_Rank']

# 결과를 저장할 데이터프레임 생성
result_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    result_df = pd.concat([result_df, sorted_df[rank_column]], axis=1)

# 결과 확인
print(result_df)

result_df.to_excel('fe_가구.xlsx')

       의류1Q_Rank  의류2Q_Rank  의류3Q_Rank  의류4Q_Rank  의류5Q_Rank  의류6Q_Rank  \
15999       10.0       10.0       10.0       10.0       10.0       10.0
6012        10.0       10.0       10.0       10.0       10.0       10.0
5584        10.0       10.0       10.0       10.0       10.0       10.0
4129        10.0       10.0        9.0        9.0        9.0        8.0
6355        10.0       10.0       10.0       10.0       10.0       10.0
...          ...        ...        ...        ...        ...        ...
15191        1.0        8.0        7.0        7.0        8.0        7.0
7727         1.0        5.0        3.0        7.0        1.0        1.0
7729         1.0        1.0        1.0        1.0        1.0        1.0
7730         1.0        3.0        2.0        3.0        2.0        2.0
19383        1.0        1.0        1.0        1.0        1.0        1.0

       의류7Q_Rank  의류8Q_Rank
15999       10.0       10.0
6012        10.0       10.0
5584        10.0       10.0
4129         9.0        9.0
6355        10.0       10.0
...          ...        ...
15191        7.0        2.0
7727         1.0        1.0
7729         1.0        1.0
7730         2.0        1.0
19383        5.0        5.0

[19383 rows x 8 columns]

In [20]:
import pandas as pd

# 등급을 매길 컬럼들의 이름 리스트
columns = ['의류1Q', '의류2Q', '의류3Q', '의류4Q', '의류5Q', '의류6Q', '의류7Q', '의류8Q']

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = ['의류1Q_Rank', '의류2Q_Rank', '의류3Q_Rank', '의류4Q_Rank', '의류5Q_Rank', '의류6Q_Rank', '의류7Q_Rank', '의류8Q_Rank']

# 결과를 저장할 데이터프레임 생성
result_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    result_df = pd.concat([result_df, sorted_df[rank_column]], axis=1)

# 결과 확인
print(result_df)

result_df.to_excel('fe_의류.xlsx')

       의류1Q_Rank  의류2Q_Rank  의류3Q_Rank  의류4Q_Rank  의류5Q_Rank  의류6Q_Rank  \
15999       10.0       10.0       10.0       10.0       10.0       10.0
6012        10.0       10.0       10.0       10.0       10.0       10.0
5584        10.0       10.0       10.0       10.0       10.0       10.0
4129        10.0       10.0        9.0        9.0        9.0        8.0
6355        10.0       10.0       10.0       10.0       10.0       10.0
...          ...        ...        ...        ...        ...        ...
15191        1.0        8.0        7.0        7.0        8.0        7.0
7727         1.0        5.0        3.0        7.0        1.0        1.0
7729         1.0        1.0        1.0        1.0        1.0        1.0
7730         1.0        3.0        2.0        3.0        2.0        2.0
19383        1.0        1.0        1.0        1.0        1.0        1.0

       의류7Q_Rank  의류8Q_Rank
15999       10.0       10.0
6012        10.0       10.0
5584        10.0       10.0
4129         9.0        9.0
6355        10.0       10.0
...          ...        ...
15191        7.0        2.0
7727         1.0        1.0
7729         1.0        1.0
7730         2.0        1.0
19383        5.0        5.0

[19383 rows x 8 columns]

In [16]:
import pandas as pd

# 등급을 매길 컬럼들의 이름 리스트
columns = ['스포츠1Q', '스포츠2Q', '스포츠3Q', '스포츠4Q', '스포츠5Q', '스포츠6Q', '스포츠7Q', '스포츠8Q']

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = ['스포츠1Q_Rank', '스포츠2Q_Rank', '스포츠3Q_Rank', '스포츠4Q_Rank', '스포츠5Q_Rank', '스포츠6Q_Rank', '스포츠7Q_Rank', '스포츠8Q_Rank']

# 결과를 저장할 데이터프레임 생성
result_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    result_df = pd.concat([result_df, sorted_df[rank_column]], axis=1)

# 결과 확인
print(result_df)

result_df.to_excel('fe_스포츠.xlsx')

       스포츠1Q_Rank  스포츠2Q_Rank  스포츠3Q_Rank  스포츠4Q_Rank  스포츠5Q_Rank  스포츠6Q_Rank  \
7862         10.0        10.0         7.0        10.0        10.0         7.0
9518         10.0        10.0        10.0         9.0        10.0        10.0
9683         10.0        10.0        10.0        10.0        10.0         7.0
7921         10.0         6.0         6.0         9.0         7.0         4.0
408          10.0        10.0        10.0        10.0        10.0        10.0
...           ...         ...         ...         ...         ...         ...
11893         1.0         1.0         6.0         3.0         1.0         1.0
11894         1.0         1.0         1.0         1.0         1.0         1.0
11895         1.0         1.0         1.0         1.0         1.0         1.0
11896         1.0         3.0         3.0         4.0         1.0         1.0
19383         1.0         1.0         1.0         1.0         1.0         1.0

       스포츠7Q_Rank  스포츠8Q_Rank
7862         10.0         9.0
9518          8.0         5.0
9683          1.0         9.0
7921          9.0         3.0
408          10.0        10.0
...           ...         ...
11893         2.0         4.0
11894         5.0         1.0
11895         1.0         1.0
11896         4.0         8.0
19383         3.0         4.0

[19383 rows x 8 columns]

In [18]:
import pandas as pd

# 등급을 매길 컬럼들의 이름 리스트
columns = ['패션잡화1Q', '패션잡화2Q', '패션잡화3Q', '패션잡화4Q', '패션잡화5Q', '패션잡화6Q', '패션잡화7Q', '패션잡화8Q']

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = ['패션잡화1Q_Rank', '패션잡화2Q_Rank', '패션잡화3Q_Rank', '패션잡화4Q_Rank', '패션잡화5Q_Rank', '패션잡화6Q_Rank', '패션잡화7Q_Rank', '패션잡화8Q_Rank']

# 결과를 저장할 데이터프레임 생성
result_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    result_df = pd.concat([result_df, sorted_df[rank_column]], axis=1)

# 결과 확인
print(result_df)

result_df.to_excel('fe_패션잡화.xlsx')

       패션잡화1Q_Rank  패션잡화2Q_Rank  패션잡화3Q_Rank  패션잡화4Q_Rank  패션잡화5Q_Rank  \
16406         10.0         10.0         10.0         10.0         10.0
68            10.0         10.0         10.0         10.0         10.0
6454          10.0          9.0          6.0         10.0         10.0
15609         10.0         10.0         10.0          9.0         10.0
5527          10.0          1.0          5.0         10.0         10.0
...            ...          ...          ...          ...          ...
13781          1.0          1.0          1.0          1.0          3.0
13780          1.0          1.0          1.0          1.0          1.0
7020           1.0          1.0          1.0          1.0          1.0
13778          1.0          1.0          1.0          1.0          1.0
19383          1.0          1.0          1.0          1.0          1.0

       패션잡화6Q_Rank  패션잡화7Q_Rank  패션잡화8Q_Rank
16406         10.0         10.0          6.0
68            10.0         10.0         10.0
6454          10.0         10.0          5.0
15609         10.0         10.0         10.0
5527           8.0         10.0         10.0
...            ...          ...          ...
13781          1.0          1.0          1.0
13780          1.0          1.0          1.0
7020           1.0          1.0          1.0
13778          1.0          2.0          1.0
19383          1.0          8.0          1.0

[19383 rows x 8 columns]

In [19]:
import pandas as pd

# 등급을 매길 컬럼들의 이름 리스트
columns = ['가구1Q', '가구2Q', '가구3Q', '가구4Q', '가구5Q', '가구6Q', '가구7Q', '가구8Q']

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = ['가구1Q_Rank', '가구2Q_Rank', '가구3Q_Rank', '가구4Q_Rank', '가구5Q_Rank', '가구6Q_Rank', '가구7Q_Rank', '가구8Q_Rank']

# 결과를 저장할 데이터프레임 생성
result_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    result_df = pd.concat([result_df, sorted_df[rank_column]], axis=1)

# 결과 확인
print(result_df)

result_df.to_excel('fe_가구.xlsx')

       가구1Q_Rank  가구2Q_Rank  가구3Q_Rank  가구4Q_Rank  가구5Q_Rank  가구6Q_Rank  \
5934        10.0       10.0        1.0        1.0        1.0        1.0
8097        10.0       10.0       10.0       10.0       10.0       10.0
7135        10.0       10.0       10.0       10.0       10.0       10.0
16902       10.0       10.0        1.0        1.0        1.0        1.0
14382       10.0       10.0        1.0        1.0        1.0        1.0
...          ...        ...        ...        ...        ...        ...
7369         1.0        1.0        1.0       10.0        1.0        1.0
7370         1.0        1.0        1.0        5.0        1.0        1.0
7371         1.0        1.0        1.0        1.0        1.0        1.0
7374         1.0        1.0        1.0        1.0        1.0        1.0
19383        1.0        1.0        1.0        1.0        1.0        1.0

       가구7Q_Rank  가구8Q_Rank
5934         5.0        1.0
8097        10.0       10.0
7135        10.0       10.0
16902        1.0        1.0
14382        1.0        3.0
...          ...        ...
7369         1.0        1.0
7370         1.0        1.0
7371         1.0        1.0
7374         1.0        7.0
19383        1.0        1.0

[19383 rows x 8 columns]