In [3]:
import pandas as pd

master_set = pd.read_excel('C:\hmkd1\m4_db\dataset/master_set.xlsx', index_col=0)
master_set

,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,가공8Q,신선1Q,신선2Q,...,TOTAL7Q,TOTAL8Q,VIS1Q,VIS2Q,VIS3Q,VIS4Q,VIS5Q,VIS6Q,VIS7Q,VIS8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,4.661507e+05,169232.914472,4.272196e+05,7.103911e+05,...,7.993153e+06,5.121119e+06,77,82,100,119,111,74,68,50
2,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,4.505977e+05,571607.110467,1.932198e+06,1.684548e+06,...,1.417343e+07,1.160506e+07,103,85,95,72,95,71,81,74
3,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,1.834930e+05,116251.534071,8.385065e+04,1.073681e+05,...,4.310791e+05,2.495811e+05,56,72,94,74,37,57,53,47
4,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,4.507093e+05,539135.587308,1.950669e+05,4.455169e+05,...,2.177949e+06,1.556994e+06,45,92,56,49,66,68,79,78
6,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,3.982866e+05,333882.296491,5.569818e+05,4.320898e+05,...,3.602174e+06,3.098129e+06,90,108,92,106,113,87,110,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,4.465895e+05,751181.614150,582322.312525,402644.953186,4.096896e+05,220131.675420,2.038686e+05,308353.761310,6.528749e+04,1.397939e+05,...,2.580329e+05,5.032506e+05,86,139,66,72,96,66,38,72
19334,2.270100e+05,890263.391731,977368.303118,911479.909816,7.275946e+05,312117.244152,3.923583e+04,82551.933652,5.147976e+05,1.486260e+06,...,4.965093e+05,4.505303e+05,22,104,111,112,77,45,11,13
19335,1.919501e+05,510411.776902,674811.146401,568454.723168,5.512122e+05,454727.566021,3.045538e+05,273246.223496,1.039869e+05,3.302448e+05,...,1.590776e+06,1.944853e+06,27,90,83,65,91,80,74,71
19336,6.328580e+04,538354.467983,787583.427627,573521.750605,4.711052e+05,226317.692344,5.283321e+05,308083.004119,0.000000e+00,0.000000e+00,...,6.473246e+06,4.785334e+06,8,77,79,75,61,32,50,50
19337,1.670098e+04,49307.081239,337825.371960,365879.994565,3.757620e+05,573448.798142,1.028384e+06,711714.287073,0.000000e+00,2.308440e+04,...,1.245543e+06,1.071415e+06,4,3,88,74,87,131,179,137

In [7]:
import pandas as pd

demo = pd.read_csv('C:\hmkd1\m4_db\dataset/DEMO.csv', encoding='cp949', index_col=0)
demo

      성별      연령대   거주지역
고객번호
1      M    60세이상   60.0
2      M    60세이상  100.0
3      M    60세이상   33.0
4      F    60세이상   16.0
5      M    60세이상  100.0
...   ..      ...    ...
19379  F  20세~24세   69.0
19380  F  20세~24세   39.0
19381  F  40세~44세  460.0
19382  F  45세~49세  460.0
19383  F  25세~29세  500.0

[19383 rows x 3 columns]

In [9]:
import pandas as pd



# 마스터셋과 demo를 고객번호를 기준으로 조인
merged_df = pd.merge(demo,master_set, on='고객번호', how='inner')

# 결과 확인
print(merged_df)

      성별      연령대   거주지역          가공1Q           가공2Q           가공3Q  \
고객번호
1      M    60세이상   60.0  4.877151e+05  366192.084776  733992.532409
2      M    60세이상  100.0  1.006891e+06  555333.324191  760255.552324
3      M    60세이상   33.0  1.982888e+05  341327.314311  356286.278356
4      F    60세이상   16.0  4.092347e+05  576566.953015  390289.977825
6      F    60세이상  240.0  3.745589e+05  469875.763562  225718.625352
...   ..      ...    ...           ...            ...            ...
19333  F  25세~29세    NaN  4.465895e+05  751181.614150  582322.312525
19334  M  35세~39세  310.0  2.270100e+05  890263.391731  977368.303118
19335  F  35세~39세  540.0  1.919501e+05  510411.776902  674811.146401
19336  F  35세~39세   39.0  6.328580e+04  538354.467983  787583.427627
19337  M  20세~24세   55.0  1.670098e+04   49307.081239  337825.371960

                가공4Q          가공5Q           가공6Q          가공7Q  ...  \
고객번호                                                             ...
1      826031.841207  1.099272e+06  628006.449843  4.661507e+05  ...
2      592126.637609  4.984414e+05  184896.525363  4.505977e+05  ...
3      256474.749474  1.523105e+05  221026.887625  1.834930e+05  ...
4      200602.069066  5.442174e+05  521389.693765  4.507093e+05  ...
6      354691.920624  3.932110e+05  323734.885693  3.982866e+05  ...
...              ...           ...            ...           ...  ...
19333  402644.953186  4.096896e+05  220131.675420  2.038686e+05  ...
19334  911479.909816  7.275946e+05  312117.244152  3.923583e+04  ...
19335  568454.723168  5.512122e+05  454727.566021  3.045538e+05  ...
19336  573521.750605  4.711052e+05  226317.692344  5.283321e+05  ...
19337  365879.994565  3.757620e+05  573448.798142  1.028384e+06  ...

            TOTAL7Q       TOTAL8Q  VIS1Q  VIS2Q  VIS3Q  VIS4Q  VIS5Q  VIS6Q  \
고객번호
1      7.993153e+06  5.121119e+06     77     82    100    119    111     74
2      1.417343e+07  1.160506e+07    103     85     95     72     95     71
3      4.310791e+05  2.495811e+05     56     72     94     74     37     57
4      2.177949e+06  1.556994e+06     45     92     56     49     66     68
6      3.602174e+06  3.098129e+06     90    108     92    106    113     87
...             ...           ...    ...    ...    ...    ...    ...    ...
19333  2.580329e+05  5.032506e+05     86    139     66     72     96     66
19334  4.965093e+05  4.505303e+05     22    104    111    112     77     45
19335  1.590776e+06  1.944853e+06     27     90     83     65     91     80
19336  6.473246e+06  4.785334e+06      8     77     79     75     61     32
19337  1.245543e+06  1.071415e+06      4      3     88     74     87    131

       VIS7Q  VIS8Q
고객번호
1         68     50
2         81     74
3         53     47
4         79     78
6        110    115
...      ...    ...
19333     38     72
19334     11     13
19335     74     71
19336     50     50
19337    179    137

[18866 rows x 163 columns]

In [10]:
merged_df.to_excel('merged_data.xlsx', index=False)

In [1]:
import pandas as pd

master_set = pd.read_excel('C:\hmkd1\m4_db/master_set1.xlsx', index_col=0)
master_set

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,TOTAL7Q,TOTAL8Q,VIS1Q,VIS2Q,VIS3Q,VIS4Q,VIS5Q,VIS6Q,VIS7Q,VIS8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,4.661507e+05,...,7.993153e+06,5.121119e+06,77,82,100,119,111,74,68,50
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,4.505977e+05,...,1.417343e+07,1.160506e+07,103,85,95,72,95,71,81,74
3,M,60세이상,33.0,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,1.834930e+05,...,4.310791e+05,2.495811e+05,56,72,94,74,37,57,53,47
4,F,60세이상,16.0,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,4.507093e+05,...,2.177949e+06,1.556994e+06,45,92,56,49,66,68,79,78
6,F,60세이상,240.0,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,3.982866e+05,...,3.602174e+06,3.098129e+06,90,108,92,106,113,87,110,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,4.465895e+05,751181.614150,582322.312525,402644.953186,4.096896e+05,220131.675420,2.038686e+05,...,2.580329e+05,5.032506e+05,86,139,66,72,96,66,38,72
19334,M,35세~39세,310.0,2.270100e+05,890263.391731,977368.303118,911479.909816,7.275946e+05,312117.244152,3.923583e+04,...,4.965093e+05,4.505303e+05,22,104,111,112,77,45,11,13
19335,F,35세~39세,540.0,1.919501e+05,510411.776902,674811.146401,568454.723168,5.512122e+05,454727.566021,3.045538e+05,...,1.590776e+06,1.944853e+06,27,90,83,65,91,80,74,71
19336,F,35세~39세,39.0,6.328580e+04,538354.467983,787583.427627,573521.750605,4.711052e+05,226317.692344,5.283321e+05,...,6.473246e+06,4.785334e+06,8,77,79,75,61,32,50,50
19337,M,20세~24세,55.0,1.670098e+04,49307.081239,337825.371960,365879.994565,3.757620e+05,573448.798142,1.028384e+06,...,1.245543e+06,1.071415e+06,4,3,88,74,87,131,179,137

In [2]:
import pandas as pd

x = pd.read_excel('C:\hmkd1\m4_db/시간대별그룹화.xlsx', index_col=0)
x

,TMOR1Q,TMOR2Q,TMOR3Q,TMOR4Q,TMOR5Q,TMOR6Q,TMOR7Q,TMOR8Q,TLUN1Q,TLUN2Q,...,TEVE7Q,TEVE8Q,TMID1Q,TMID2Q,TMID3Q,TMID4Q,TMID5Q,TMID6Q,TMID7Q,TMID8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,0.000000,793987.845408,340497.749425,302319.743904,22524.083271,27127.947389,0.000000e+00,55476.214521,3.491961e+06,2.369526e+06,...,2.740364e+05,984057.341938,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,122224.491356,32187.405133,406498.305515,0.000000,145779.748995,0.000000,3.462469e+06,0.000000,7.119491e+06,2.870523e+06,...,1.715328e+06,151827.095030,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,3634.842912,0.000000,6055.622028,0.000000,1.105811e+03,2378.795324,3.060991e+05,5.278161e+05,...,2.455311e+04,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,18566.207405,0.000000,97531.860980,1.612949e+05,14021.354550,4.098008e+05,9.680302e+05,...,5.898685e+04,153412.958580,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,63771.058021,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,70203.471748,1.072047e+06,5.077966e+05,...,0.000000e+00,104812.042738,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19379,0.000000,0.000000,0.000000,22337.468284,40337.115013,28365.150774,2.994906e+04,0.000000,0.000000e+00,0.000000e+00,...,1.356462e+05,791355.580919,0.0,0.0,113857.614602,413600.949535,297685.886887,198163.771416,352426.177573,348657.903218
19380,0.000000,0.000000,0.000000,0.000000,10513.934740,0.000000,2.017082e+04,413610.619434,0.000000e+00,0.000000e+00,...,1.536740e+05,464106.835615,0.0,0.0,0.000000,0.000000,76327.122393,56327.958983,64116.581173,239184.968829
19381,0.000000,0.000000,0.000000,0.000000,0.000000,7946.265642,5.631447e+02,0.000000,0.000000e+00,0.000000e+00,...,9.421236e+05,491817.867156,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19382,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.150189e+03,0.000000,0.000000e+00,0.000000e+00,...,6.580919e+05,700926.546979,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19383,0.000000,0.000000,0.000000,0.000000,0.000000,2011.712821,8.339661e+04,30866.319810,0.000000e+00,0.000000e+00,...,3.553238e+05,302087.666311,0.0,0.0,0.000000,0.000000,0.000000,7040.994873,143694.043465,447174.841258

In [4]:
import pandas as pd



# 마스터셋과 demo를 고객번호를 기준으로 조인
merged_df = pd.merge(master_set,x, on='고객번호', how='inner')

# 결과 확인
print(merged_df)

      성별      연령대   거주지역          가공1Q           가공2Q           가공3Q  \
고객번호
1      M    60세이상   60.0  4.877151e+05  366192.084776  733992.532409
2      M    60세이상  100.0  1.006891e+06  555333.324191  760255.552324
3      M    60세이상   33.0  1.982888e+05  341327.314311  356286.278356
4      F    60세이상   16.0  4.092347e+05  576566.953015  390289.977825
6      F    60세이상  240.0  3.745589e+05  469875.763562  225718.625352
...   ..      ...    ...           ...            ...            ...
19333  F  25세~29세    NaN  4.465895e+05  751181.614150  582322.312525
19334  M  35세~39세  310.0  2.270100e+05  890263.391731  977368.303118
19335  F  35세~39세  540.0  1.919501e+05  510411.776902  674811.146401
19336  F  35세~39세   39.0  6.328580e+04  538354.467983  787583.427627
19337  M  20세~24세   55.0  1.670098e+04   49307.081239  337825.371960

                가공4Q          가공5Q           가공6Q          가공7Q  ...  \
고객번호                                                             ...
1      826031.841207  1.099272e+06  628006.449843  4.661507e+05  ...
2      592126.637609  4.984414e+05  184896.525363  4.505977e+05  ...
3      256474.749474  1.523105e+05  221026.887625  1.834930e+05  ...
4      200602.069066  5.442174e+05  521389.693765  4.507093e+05  ...
6      354691.920624  3.932110e+05  323734.885693  3.982866e+05  ...
...              ...           ...            ...           ...  ...
19333  402644.953186  4.096896e+05  220131.675420  2.038686e+05  ...
19334  911479.909816  7.275946e+05  312117.244152  3.923583e+04  ...
19335  568454.723168  5.512122e+05  454727.566021  3.045538e+05  ...
19336  573521.750605  4.711052e+05  226317.692344  5.283321e+05  ...
19337  365879.994565  3.757620e+05  573448.798142  1.028384e+06  ...

             TEVE7Q        TEVE8Q         TMID1Q        TMID2Q        TMID3Q  \
고객번호
1      2.740364e+05  9.840573e+05       0.000000  0.000000e+00  0.000000e+00
2      1.715328e+06  1.518271e+05       0.000000  0.000000e+00  0.000000e+00
3      2.455311e+04  0.000000e+00       0.000000  0.000000e+00  0.000000e+00
4      5.898685e+04  1.534130e+05       0.000000  0.000000e+00  0.000000e+00
6      1.106487e+05  0.000000e+00       0.000000  0.000000e+00  0.000000e+00
...             ...           ...            ...           ...           ...
19333  1.693632e+05  2.343210e+05    5762.445002  0.000000e+00  0.000000e+00
19334  7.329072e+04  3.354778e+05  208310.364907  1.176426e+06  1.180102e+06
19335  3.218321e+05  1.035066e+05       0.000000  0.000000e+00  0.000000e+00
19336  4.426317e+06  2.868363e+06       0.000000  0.000000e+00  0.000000e+00
19337  1.851927e+05  2.150392e+05       0.000000  2.321517e+04  1.937207e+05

              TMID4Q         TMID5Q         TMID6Q         TMID7Q  \
고객번호
1           0.000000       0.000000       0.000000       0.000000
2           0.000000       0.000000       0.000000       0.000000
3           0.000000       0.000000       0.000000       0.000000
4           0.000000       0.000000       0.000000       0.000000
6           0.000000       0.000000       0.000000       0.000000
...              ...            ...            ...            ...
19333   30121.737534   88408.037792  120340.660942   14191.245849
19334  702601.373606  525809.964003  240805.042223    8129.761330
19335       0.000000       0.000000       0.000000       0.000000
19336       0.000000       0.000000       0.000000       0.000000
19337  146702.048195  137803.311966  180068.414593  673203.624325

              TMID8Q
고객번호
1           0.000000
2           0.000000
3           0.000000
4           0.000000
6           0.000000
...              ...
19333  116764.038755
19334       0.000000
19335       0.000000
19336       0.000000
19337  388826.666529

[18866 rows x 203 columns]

In [5]:
merged_df.to_excel('merged_data.xlsx', index=False)