In [ ]:
# import warnings
# warnings.filterwarnings('ignore')

# import pandas as pd

# master_set_ori = pd.read_excel('master_set_ori.xlsx', index_col=0)

# columns_to_check = ['TOTAL1Q', 'TOTAL2Q', 'TOTAL3Q', 'TOTAL4Q', 'TOTAL5Q', 'TOTAL6Q', 'TOTAL7Q', 'TOTAL8Q']
# master_set = master_set_ori[~(master_set_ori[columns_to_check] == 0).any(axis=1)]

# master_set_ori[master_set_ori[columns_to_check] == 0].count()

# count_zero = (master_set_ori[columns_to_check] == 0).sum().sum()
# count_zero

# total_sum = master_set[columns_to_check].sum()
# total_sum.sum()

# count_zero = (master_set[columns_to_check] == 0).sum().sum()
# count_zero

# master_set.to_excel('master_set.xlsx')

In [ ]:
# 668434549192.8291 0인 고객 제한 총액
# 18866 - 0인 고객 제한 인원수 (ori는 19384)
# 0인 고객 총 1169명  518명

# total_sum.sum()

In [ ]:
# master_set_ori[~(master_set_ori[columns_to_check] == 0).any(axis=1)]

In [2]:
# 분기별 구개금액이 0인 고객 제거한 master_set 불러오기

import warnings
warnings.filterwarnings('ignore')

import pandas as pd

master_set = pd.read_excel('C:\hmkd1\m4_db\dataset/master_set.xlsx', index_col=0)
master_set.head()

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,D7Q,D8Q,TOTAL1Q,TOTAL2Q,TOTAL3Q,TOTAL4Q,TOTAL5Q,TOTAL6Q,TOTAL7Q,TOTAL8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,466150.685252,...,0.000000,0.0,9.241739e+06,1.084692e+07,1.103922e+07,2.256448e+07,9.404902e+06,8.645718e+06,7.993153e+06,5.121119e+06
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,450597.653185,...,45051.574123,0.0,1.427820e+07,1.025949e+07,1.519588e+07,6.847179e+06,1.868395e+07,9.364654e+06,1.417343e+07,1.160506e+07
3,M,60세이상,33.0,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,183493.013605,...,0.000000,0.0,3.060991e+05,5.516448e+05,6.636793e+05,3.813480e+05,2.823699e+05,3.148029e+05,4.310791e+05,2.495811e+05
4,F,60세이상,16.0,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,450709.258221,...,0.000000,0.0,1.323990e+06,3.754322e+06,2.492591e+06,1.762919e+06,1.756324e+06,1.930887e+06,2.177949e+06,1.556994e+06
6,F,60세이상,240.0,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,398286.632232,...,0.000000,0.0,2.189735e+06,3.133528e+06,3.238873e+06,2.853409e+06,3.658884e+06,2.786042e+06,3.602174e+06,3.098129e+06

In [4]:
# 분기별 구개금액이 0인 고객 제거한 master_set 불러오기

import warnings
warnings.filterwarnings('ignore')

import pandas as pd

master_set = pd.read_excel('master_set.xlsx', index_col=0)
master_set.head()

,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,가공8Q,신선1Q,신선2Q,...,TOTAL7Q,TOTAL8Q,VIS1Q,VIS2Q,VIS3Q,VIS4Q,VIS5Q,VIS6Q,VIS7Q,VIS8Q
고객번호,,,,,,,,,,,,,,,,,,,,,
1,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,466150.685252,169232.914472,4.272196e+05,7.103911e+05,...,7.993153e+06,5.121119e+06,77,82,100,119,111,74,68,50
2,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,450597.653185,571607.110467,1.932198e+06,1.684548e+06,...,1.417343e+07,1.160506e+07,103,85,95,72,95,71,81,74
3,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,183493.013605,116251.534071,8.385065e+04,1.073681e+05,...,4.310791e+05,2.495811e+05,56,72,94,74,37,57,53,47
4,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,450709.258221,539135.587308,1.950669e+05,4.455169e+05,...,2.177949e+06,1.556994e+06,45,92,56,49,66,68,79,78
6,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,398286.632232,333882.296491,5.569818e+05,4.320898e+05,...,3.602174e+06,3.098129e+06,90,108,92,106,113,87,110,115

In [3]:
import pandas as pd

# 모든 열을 담을 리스트 생성
column_list = []

# master_set의 모든 열을 리스트에 추가
for col in master_set.columns:
    column_list.append(col)

# 결과 출력
print(column_list)

['성별', '연령대', '거주지역', '가공1Q', '가공2Q', '가공3Q', '가공4Q', '가공5Q', '가공6Q', '가공7Q', '가공8Q', '신선1Q', '신선2Q', '신선3Q', '신선4Q', '신선5Q', '신선6Q', '신선7Q', '신선8Q', '외식/편의시설1Q', '외식/편의시설2Q', '외식/편의시설3Q', '외식/편의시설4Q', '외식/편의시설5Q', '외식/편의시설6Q', '외식/편의시설7Q', '외식/편의시설8Q', '일상1Q', '일상2Q', '일상3Q', '일상4Q', '일상5Q', '일상6Q', '일상7Q', '일상8Q', '의료1Q', '의료2Q', '의료3Q', '의료4Q', '의료5Q', '의료6Q', '의료7Q', '의료8Q', '교육/문화1Q', '교육/문화2Q', '교육/문화3Q', '교육/문화4Q', '교육/문화5Q', '교육/문화6Q', '교육/문화7Q', '교육/문화8Q', '뷰티1Q', '뷰티2Q', '뷰티3Q', '뷰티4Q', '뷰티5Q', '뷰티6Q', '뷰티7Q', '뷰티8Q', '가전1Q', '가전2Q', '가전3Q', '가전4Q', '가전5Q', '가전6Q', '가전7Q', '가전8Q', '가구1Q', '가구2Q', '가구3Q', '가구4Q', '가구5Q', '가구6Q', '가구7Q', '가구8Q', '의류1Q', '의류2Q', '의류3Q', '의류4Q', '의류5Q', '의류6Q', '의류7Q', '의류8Q', '스포츠1Q', '스포츠2Q', '스포츠3Q', '스포츠4Q', '스포츠5Q', '스포츠6Q', '스포츠7Q', '스포츠8Q', '패션잡화1Q', '패션잡화2Q', '패션잡화3Q', '패션잡화4Q', '패션잡화5Q', '패션잡화6Q', '패션잡화7Q', '패션잡화8Q', '유아/아동1Q', '유아/아동2Q', '유아/아동3Q', '유아/아동4Q', '유아/아동5Q', '유아/아동6Q', '유아/아동7Q', '유아/아동8Q', '명품1Q', '명품2Q', '명품3Q', '명품4Q', '명품5Q', '명품6Q', '명품7Q', '명품8Q', 'A1Q', 'A2Q', 'A3Q', 'A4Q', 'A5Q', 'A6Q', 'A7Q', 'A8Q', 'B1Q', 'B2Q', 'B3Q', 'B4Q', 'B5Q', 'B6Q', 'B7Q', 'B8Q', 'C1Q', 'C2Q', 'C3Q', 'C4Q', 'C5Q', 'C6Q', 'C7Q', 'C8Q', 'D1Q', 'D2Q', 'D3Q', 'D4Q', 'D5Q', 'D6Q', 'D7Q', 'D8Q', 'TOTAL1Q', 'TOTAL2Q', 'TOTAL3Q', 'TOTAL4Q', 'TOTAL5Q', 'TOTAL6Q', 'TOTAL7Q', 'TOTAL8Q']

In [4]:
import pandas as pd
import re

# 등급을 매길 컬럼들의 이름 리스트
columns = [col for col in master_set.columns if re.match(r".*[1-8]Q$", col)]

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = [col + "_Rank" for col in columns]

# 결과를 저장할 데이터프레임 생성
feature_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    feature_df = pd.concat([feature_df, sorted_df[rank_column]], axis=1)

# 결과 확인
feature_df.head()

# result_df.to_csv('등급결과.csv')
# result_df.to_excel('feature_df.xlsx')

,가공1Q_Rank,가공2Q_Rank,가공3Q_Rank,가공4Q_Rank,가공5Q_Rank,가공6Q_Rank,가공7Q_Rank,가공8Q_Rank,신선1Q_Rank,신선2Q_Rank,...,D7Q_Rank,D8Q_Rank,TOTAL1Q_Rank,TOTAL2Q_Rank,TOTAL3Q_Rank,TOTAL4Q_Rank,TOTAL5Q_Rank,TOTAL6Q_Rank,TOTAL7Q_Rank,TOTAL8Q_Rank
6207,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,1.0,...,1.0,1.0,10,10,10,10,10,10,10,10
7957,10.0,10.0,10.0,10.0,10.0,1.0,4.0,1.0,10.0,3.0,...,1.0,1.0,10,10,10,10,10,1,4,1
3890,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0,1.0,...,1.0,1.0,10,10,10,10,10,10,10,10
17456,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,5.0,3.0,...,1.0,1.0,10,10,10,10,10,10,10,10
10487,10.0,10.0,10.0,10.0,10.0,1.0,10.0,10.0,3.0,1.0,...,1.0,1.0,10,10,10,10,10,1,10,10

In [5]:
import pandas as pd

# 원본 데이터프레임에서 원하는 컬럼들을 선택하여 새로운 데이터프레임 생성
feature_df_6q = feature_df.filter(regex=".*[2-6]Q_Rank$", axis=1)

# 새로운 데이터프레임 출력
feature_df_6q

,가공2Q_Rank,가공3Q_Rank,가공4Q_Rank,가공5Q_Rank,가공6Q_Rank,신선2Q_Rank,신선3Q_Rank,신선4Q_Rank,신선5Q_Rank,신선6Q_Rank,...,D2Q_Rank,D3Q_Rank,D4Q_Rank,D5Q_Rank,D6Q_Rank,TOTAL2Q_Rank,TOTAL3Q_Rank,TOTAL4Q_Rank,TOTAL5Q_Rank,TOTAL6Q_Rank
6207,10.0,10.0,10.0,10.0,10.0,1.0,1.0,1.0,1.0,2.0,...,1.0,1.0,1.0,1.0,1.0,10,10,10,10,10
7957,10.0,10.0,10.0,10.0,1.0,3.0,3.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,10,10,10,10,1
3890,10.0,10.0,10.0,10.0,10.0,1.0,2.0,1.0,2.0,6.0,...,1.0,1.0,1.0,1.0,1.0,10,10,10,10,10
17456,10.0,10.0,10.0,10.0,10.0,3.0,2.0,2.0,3.0,3.0,...,1.0,1.0,1.0,1.0,1.0,10,10,10,10,10
10487,10.0,10.0,10.0,10.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,10,10,10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,5,4,8,4,2
18684,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,3.0,6.0,10.0,10.0,9.0,1,1,2,2,1
8735,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,...,4.0,10.0,9.0,9.0,10.0,1,1,1,1,1
16129,1.0,1.0,2.0,2.0,3.0,1.0,1.0,2.0,2.0,1.0,...,10.0,10.0,10.0,10.0,10.0,2,4,7,5,4
3375,1.0,1.0,3.0,4.0,5.0,1.0,1.0,2.0,3.0,3.0,...,1.0,1.0,1.0,1.0,1.0,6,5,5,5,7

In [6]:
import pandas as pd

# 새로운 데이터프레임 생성
new_df = pd.DataFrame()

# 원하는 계산을 수행하여 새로운 컬럼 추가
categories = ['A', 'B', 'C', 'D', '가공', '신선', '외식/편의시설', '일상', '가구', '스포츠', '의류', '패션잡화',\
              '유아/아동', '명품', '가전', '교육/문화', '뷰티', '의료', 'TOTAL', 'VIS']  # 카테고리 리스트

for category in categories:
    category_cols = [col for col in feature_df_6q.columns if col.startswith(category)]
    
    for i in range(len(category_cols) - 1):
        curr_col = category_cols[i]
        next_col = category_cols[i + 1]
        new_col = next_col + ' - ' + curr_col
        new_df[new_col] = feature_df_6q[next_col] - feature_df_6q[curr_col]

# 새로운 데이터프레임 출력
new_df

,A3Q_Rank - A2Q_Rank,A4Q_Rank - A3Q_Rank,A5Q_Rank - A4Q_Rank,A6Q_Rank - A5Q_Rank,B3Q_Rank - B2Q_Rank,B4Q_Rank - B3Q_Rank,B5Q_Rank - B4Q_Rank,B6Q_Rank - B5Q_Rank,C3Q_Rank - C2Q_Rank,C4Q_Rank - C3Q_Rank,...,뷰티5Q_Rank - 뷰티4Q_Rank,뷰티6Q_Rank - 뷰티5Q_Rank,의료3Q_Rank - 의료2Q_Rank,의료4Q_Rank - 의료3Q_Rank,의료5Q_Rank - 의료4Q_Rank,의료6Q_Rank - 의료5Q_Rank,TOTAL3Q_Rank - TOTAL2Q_Rank,TOTAL4Q_Rank - TOTAL3Q_Rank,TOTAL5Q_Rank - TOTAL4Q_Rank,TOTAL6Q_Rank - TOTAL5Q_Rank
6207,0.0,1.0,-2.0,0.0,0.0,-6.0,0.0,1.0,0.0,0.0,...,-3.0,3.0,0.0,4.0,-4.0,7.0,0,0,0,0
7957,0.0,-2.0,1.0,-3.0,0.0,0.0,0.0,-9.0,3.0,-3.0,...,-3.0,0.0,0.0,0.0,0.0,0.0,0,0,0,-9
3890,0.0,0.0,0.0,0.0,2.0,1.0,-2.0,-1.0,0.0,0.0,...,-5.0,0.0,-1.0,-7.0,1.0,-1.0,0,0,0,0
17456,0.0,2.0,-2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
10487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.0,0.0,-9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,-9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,-1.0,2.0,-2.0,0.0,3.0,1.0,-1.0,-3.0,0.0,0.0,...,-2.0,-6.0,0.0,0.0,0.0,0.0,-1,4,-4,-2
18684,2.0,1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,-4.0,0.0,0.0,3.0,-3.0,0,1,0,-1
8735,0.0,0.0,1.0,0.0,0.0,0.0,3.0,-2.0,0.0,0.0,...,-2.0,4.0,7.0,-7.0,8.0,-8.0,0,0,0,0
16129,3.0,2.0,-2.0,-3.0,0.0,3.0,-1.0,-2.0,0.0,0.0,...,-1.0,2.0,-4.0,2.0,4.0,-1.0,2,3,-2,-1
3375,0.0,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,2.0,...,3.0,-4.0,0.0,1.0,6.0,-4.0,-1,0,0,2

In [7]:
# new_df.to_excel('new_df.xlsx')

In [ ]:
# new_df.columns

In [8]:
import pandas as pd

# 새로운 데이터프레임 생성
result_df = pd.DataFrame()

# 각 카테고리별로 합계 및 절댓값 합계 계산
categories = ['A', 'B', 'C', 'D', '가공', '신선', '외식/편의시설', '일상', '가구', '스포츠', '의류', '패션잡화',\
              '유아/아동', '명품', '가전', '교육/문화', '뷰티', '의료', 'TOTAL', 'VIS']  # 카테고리 리스트

for category in categories:
    category_cols = [col for col in new_df.columns if col.startswith(category)]
    
    # 합계 계산
    sum_col = f'{category}_Sum'
    result_df[sum_col] = new_df[category_cols].sum(axis=1)
    
    # 절댓값 합계 계산
    abs_sum_col = f'{category}_Abs_Sum'
    result_df[abs_sum_col] = new_df[category_cols].abs().sum(axis=1)

# 새로운 데이터프레임 출력
result_df = result_df.sort_index()
result_df

,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,D_Abs_Sum,가공_Sum,가공_Abs_Sum,...,교육/문화_Sum,교육/문화_Abs_Sum,뷰티_Sum,뷰티_Abs_Sum,의료_Sum,의료_Abs_Sum,TOTAL_Sum,TOTAL_Abs_Sum,VIS_Sum,VIS_Abs_Sum
1,0.0,2.0,0.0,6.0,0.0,6.0,0.0,0.0,3.0,9.0,...,0.0,0.0,-4.0,4.0,-9.0,9.0,-1,1,0.0,0.0
2,0.0,6.0,0.0,2.0,0.0,0.0,8.0,8.0,-6.0,8.0,...,0.0,0.0,0.0,0.0,-7.0,7.0,-1,3,0.0,0.0
3,-1.0,1.0,0.0,0.0,-1.0,1.0,0.0,0.0,-2.0,4.0,...,0.0,0.0,-1.0,1.0,0.0,0.0,0,0,0.0,0.0
4,-2.0,2.0,2.0,4.0,-1.0,9.0,0.0,0.0,-1.0,9.0,...,0.0,0.0,5.0,11.0,1.0,5.0,-3,5,0.0,0.0
6,0.0,2.0,-2.0,2.0,-4.0,14.0,0.0,0.0,-3.0,7.0,...,-2.0,6.0,1.0,3.0,0.0,2.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,-2.0,2.0,-2.0,2.0,0.0,0.0,9.0,9.0,-7.0,7.0,...,-5.0,5.0,0.0,0.0,8.0,8.0,-1,1,0.0,0.0
19334,0.0,0.0,-5.0,5.0,0.0,0.0,0.0,0.0,-6.0,8.0,...,0.0,4.0,-1.0,5.0,-1.0,1.0,-6,6,0.0,0.0
19335,3.0,3.0,-1.0,1.0,0.0,2.0,0.0,0.0,-1.0,5.0,...,0.0,0.0,-1.0,11.0,0.0,2.0,0,4,0.0,0.0
19336,0.0,2.0,0.0,0.0,0.0,0.0,-4.0,8.0,-5.0,7.0,...,0.0,0.0,-3.0,7.0,0.0,0.0,0,2,0.0,0.0
19337,0.0,4.0,0.0,2.0,3.0,5.0,0.0,0.0,6.0,6.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0,0,0.0,0.0

In [9]:
calculation1 = (master_set['TOTAL7Q'] - master_set['TOTAL2Q']) / master_set['TOTAL2Q']
calculation2 = (master_set['TOTAL7Q'].sum() - master_set['TOTAL2Q'].sum()) / master_set['TOTAL2Q'].sum()
result_df['7Q_TARGET'] = calculation1.apply(lambda x: 1 if x < calculation2 else 0)

In [ ]:
result_df.to_excel('X_train_7Q.xlsx')

In [10]:
result_df

,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,D_Abs_Sum,가공_Sum,가공_Abs_Sum,...,교육/문화_Abs_Sum,뷰티_Sum,뷰티_Abs_Sum,의료_Sum,의료_Abs_Sum,TOTAL_Sum,TOTAL_Abs_Sum,VIS_Sum,VIS_Abs_Sum,7Q_TARGET
1,0.0,2.0,0.0,6.0,0.0,6.0,0.0,0.0,3.0,9.0,...,0.0,-4.0,4.0,-9.0,9.0,-1,1,0.0,0.0,1
2,0.0,6.0,0.0,2.0,0.0,0.0,8.0,8.0,-6.0,8.0,...,0.0,0.0,0.0,-7.0,7.0,-1,3,0.0,0.0,0
3,-1.0,1.0,0.0,0.0,-1.0,1.0,0.0,0.0,-2.0,4.0,...,0.0,-1.0,1.0,0.0,0.0,0,0,0.0,0.0,1
4,-2.0,2.0,2.0,4.0,-1.0,9.0,0.0,0.0,-1.0,9.0,...,0.0,5.0,11.0,1.0,5.0,-3,5,0.0,0.0,1
6,0.0,2.0,-2.0,2.0,-4.0,14.0,0.0,0.0,-3.0,7.0,...,6.0,1.0,3.0,0.0,2.0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,-2.0,2.0,-2.0,2.0,0.0,0.0,9.0,9.0,-7.0,7.0,...,5.0,0.0,0.0,8.0,8.0,-1,1,0.0,0.0,1
19334,0.0,0.0,-5.0,5.0,0.0,0.0,0.0,0.0,-6.0,8.0,...,4.0,-1.0,5.0,-1.0,1.0,-6,6,0.0,0.0,1
19335,3.0,3.0,-1.0,1.0,0.0,2.0,0.0,0.0,-1.0,5.0,...,0.0,-1.0,11.0,0.0,2.0,0,4,0.0,0.0,1
19336,0.0,2.0,0.0,0.0,0.0,0.0,-4.0,8.0,-5.0,7.0,...,0.0,-3.0,7.0,0.0,0.0,0,2,0.0,0.0,0
19337,0.0,4.0,0.0,2.0,3.0,5.0,0.0,0.0,6.0,6.0,...,0.0,0.0,2.0,0.0,0.0,0,0,0.0,0.0,0