In [21]:
# import warnings
# warnings.filterwarnings('ignore')

# import pandas as pd

# master_set_ori = pd.read_excel('master_set_ori.xlsx', index_col=0)

# columns_to_check = ['TOTAL1Q', 'TOTAL2Q', 'TOTAL3Q', 'TOTAL4Q', 'TOTAL5Q', 'TOTAL6Q', 'TOTAL7Q', 'TOTAL8Q']
# master_set = master_set_ori[~(master_set_ori[columns_to_check] == 0).any(axis=1)]

# master_set_ori[master_set_ori[columns_to_check] == 0].count()

# count_zero = (master_set_ori[columns_to_check] == 0).sum().sum()
# count_zero

# total_sum = master_set[columns_to_check].sum()
# total_sum.sum()

# count_zero = (master_set[columns_to_check] == 0).sum().sum()
# count_zero

# master_set.to_excel('master_set.xlsx')

In [4]:
# 668434549192.8291 0인 고객 제한 총액
# 18866 - 0인 고객 제한 인원수 (ori는 19384)
# 0인 고객 총 1169명  518명

# total_sum.sum()

668434549192.8291

In [1]:
# 분기별 구개금액이 0인 고객 제거한 master_set 불러오기

import warnings
warnings.filterwarnings('ignore')

import pandas as pd

master_set = pd.read_excel('master_set.xlsx', index_col=0)

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,TEVE8Q,TMID1Q,TMID2Q,TMID3Q,TMID4Q,TMID5Q,TMID6Q,TMID7Q,TMID8Q,RECENCY
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,4.661507e+05,...,9.840573e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,4.505977e+05,...,1.518271e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1
3,M,60세이상,33.0,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,1.834930e+05,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,3
4,F,60세이상,16.0,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,4.507093e+05,...,1.534130e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0
6,F,60세이상,240.0,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,3.982866e+05,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,4.465895e+05,751181.614150,582322.312525,402644.953186,4.096896e+05,220131.675420,2.038686e+05,...,2.343210e+05,5762.445002,0.000000e+00,0.000000e+00,30121.737534,88408.037792,120340.660942,14191.245849,116764.038755,1
19334,M,35세~39세,310.0,2.270100e+05,890263.391731,977368.303118,911479.909816,7.275946e+05,312117.244152,3.923583e+04,...,3.354778e+05,208310.364907,1.176426e+06,1.180102e+06,702601.373606,525809.964003,240805.042223,8129.761330,0.000000,10
19335,F,35세~39세,540.0,1.919501e+05,510411.776902,674811.146401,568454.723168,5.512122e+05,454727.566021,3.045538e+05,...,1.035066e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0
19336,F,35세~39세,39.0,6.328580e+04,538354.467983,787583.427627,573521.750605,4.711052e+05,226317.692344,5.283321e+05,...,2.868363e+06,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,3
19337,M,20세~24세,55.0,1.670098e+04,49307.081239,337825.371960,365879.994565,3.757620e+05,573448.798142,1.028384e+06,...,2.150392e+05,0.000000,2.321517e+04,1.937207e+05,146702.048195,137803.311966,180068.414593,673203.624325,388826.666529,1

In [3]:
master_set

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,TEVE8Q,TMID1Q,TMID2Q,TMID3Q,TMID4Q,TMID5Q,TMID6Q,TMID7Q,TMID8Q,RECENCY
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,4.661507e+05,...,9.840573e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,4.505977e+05,...,1.518271e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,1
3,M,60세이상,33.0,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,1.834930e+05,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,3
4,F,60세이상,16.0,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,4.507093e+05,...,1.534130e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0
6,F,60세이상,240.0,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,3.982866e+05,...,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,4.465895e+05,751181.614150,582322.312525,402644.953186,4.096896e+05,220131.675420,2.038686e+05,...,2.343210e+05,5762.445002,0.000000e+00,0.000000e+00,30121.737534,88408.037792,120340.660942,14191.245849,116764.038755,1
19334,M,35세~39세,310.0,2.270100e+05,890263.391731,977368.303118,911479.909816,7.275946e+05,312117.244152,3.923583e+04,...,3.354778e+05,208310.364907,1.176426e+06,1.180102e+06,702601.373606,525809.964003,240805.042223,8129.761330,0.000000,10
19335,F,35세~39세,540.0,1.919501e+05,510411.776902,674811.146401,568454.723168,5.512122e+05,454727.566021,3.045538e+05,...,1.035066e+05,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0
19336,F,35세~39세,39.0,6.328580e+04,538354.467983,787583.427627,573521.750605,4.711052e+05,226317.692344,5.283321e+05,...,2.868363e+06,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,3
19337,M,20세~24세,55.0,1.670098e+04,49307.081239,337825.371960,365879.994565,3.757620e+05,573448.798142,1.028384e+06,...,2.150392e+05,0.000000,2.321517e+04,1.937207e+05,146702.048195,137803.311966,180068.414593,673203.624325,388826.666529,1

In [3]:
import pandas as pd

# 모든 열을 담을 리스트 생성
column_list = []

# master_set의 모든 열을 리스트에 추가
for col in master_set.columns:
    column_list.append(col)

# 결과 출력
print(column_list)

['성별', '연령대', '거주지역', '가공1Q', '가공2Q', '가공3Q', '가공4Q', '가공5Q', '가공6Q', '가공7Q', '가공8Q', '신선1Q', '신선2Q', '신선3Q', '신선4Q', '신선5Q', '신선6Q', '신선7Q', '신선8Q', '외식/편의시설1Q', '외식/편의시설2Q', '외식/편의시설3Q', '외식/편의시설4Q', '외식/편의시설5Q', '외식/편의시설6Q', '외식/편의시설7Q', '외식/편의시설8Q', '일상1Q', '일상2Q', '일상3Q', '일상4Q', '일상5Q', '일상6Q', '일상7Q', '일상8Q', '의료1Q', '의료2Q', '의료3Q', '의료4Q', '의료5Q', '의료6Q', '의료7Q', '의료8Q', '교육/문화1Q', '교육/문화2Q', '교육/문화3Q', '교육/문화4Q', '교육/문화5Q', '교육/문화6Q', '교육/문화7Q', '교육/문화8Q', '뷰티1Q', '뷰티2Q', '뷰티3Q', '뷰티4Q', '뷰티5Q', '뷰티6Q', '뷰티7Q', '뷰티8Q', '가전1Q', '가전2Q', '가전3Q', '가전4Q', '가전5Q', '가전6Q', '가전7Q', '가전8Q', '가구1Q', '가구2Q', '가구3Q', '가구4Q', '가구5Q', '가구6Q', '가구7Q', '가구8Q', '의류1Q', '의류2Q', '의류3Q', '의류4Q', '의류5Q', '의류6Q', '의류7Q', '의류8Q', '스포츠1Q', '스포츠2Q', '스포츠3Q', '스포츠4Q', '스포츠5Q', '스포츠6Q', '스포츠7Q', '스포츠8Q', '패션잡화1Q', '패션잡화2Q', '패션잡화3Q', '패션잡화4Q', '패션잡화5Q', '패션잡화6Q', '패션잡화7Q', '패션잡화8Q', '유아/아동1Q', '유아/아동2Q', '유아/아동3Q', '유아/아동4Q', '유아/아동5Q', '유아/아동6Q', '유아/아동7Q', '유아/아동8Q', '명품1Q', '명품2Q', '명품3Q', '명품4Q', '명품5Q', '명품6Q', '명품7Q', '명품8Q', 'A1Q', 'A2Q', 'A3Q', 'A4Q', 'A5Q', 'A6Q', 'A7Q', 'A8Q', 'B1Q', 'B2Q', 'B3Q', 'B4Q', 'B5Q', 'B6Q', 'B7Q', 'B8Q', 'C1Q', 'C2Q', 'C3Q', 'C4Q', 'C5Q', 'C6Q', 'C7Q', 'C8Q', 'D1Q', 'D2Q', 'D3Q', 'D4Q', 'D5Q', 'D6Q', 'D7Q', 'D8Q', 'TOTAL1Q', 'TOTAL2Q', 'TOTAL3Q', 'TOTAL4Q', 'TOTAL5Q', 'TOTAL6Q', 'TOTAL7Q', 'TOTAL8Q', 'VIS1Q', 'VIS2Q', 'VIS3Q', 'VIS4Q', 'VIS5Q', 'VIS6Q', 'VIS7Q', 'VIS8Q', 'TMOR1Q', 'TMOR2Q', 'TMOR3Q', 'TMOR4Q', 'TMOR5Q', 'TMOR6Q', 'TMOR7Q', 'TMOR8Q', 'TLUN1Q', 'TLUN2Q', 'TLUN3Q', 'TLUN4Q', 'TLUN5Q', 'TLUN6Q', 'TLUN7Q', 'TLUN8Q', 'TAFT1Q', 'TAFT2Q', 'TAFT3Q', 'TAFT4Q', 'TAFT5Q', 'TAFT6Q', 'TAFT7Q', 'TAFT8Q', 'TEVE1Q', 'TEVE2Q', 'TEVE3Q', 'TEVE4Q', 'TEVE5Q', 'TEVE6Q', 'TEVE7Q', 'TEVE8Q', 'TMID1Q', 'TMID2Q', 'TMID3Q', 'TMID4Q', 'TMID5Q', 'TMID6Q', 'TMID7Q', 'TMID8Q', 'RECENCY']

In [4]:
import pandas as pd
import re

# 등급을 매길 컬럼들의 이름 리스트
columns = [col for col in master_set.columns if re.match(r".*[1-8]Q$", col)]

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = [col + "_Rank" for col in columns]

# 결과를 저장할 데이터프레임 생성
feature_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    feature_df = pd.concat([feature_df, sorted_df[rank_column]], axis=1)

# 결과 확인
feature_df.head()

# result_df.to_csv('등급결과.csv')
# result_df.to_excel('feature_df.xlsx')

,가공1Q_Rank,가공2Q_Rank,가공3Q_Rank,가공4Q_Rank,가공5Q_Rank,가공6Q_Rank,가공7Q_Rank,가공8Q_Rank,신선1Q_Rank,신선2Q_Rank,...,TEVE7Q_Rank,TEVE8Q_Rank,TMID1Q_Rank,TMID2Q_Rank,TMID3Q_Rank,TMID4Q_Rank,TMID5Q_Rank,TMID6Q_Rank,TMID7Q_Rank,TMID8Q_Rank
6207,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,1.0,...,10.0,10.0,10.0,10.0,1.0,1.0,10.0,10.0,1.0,10.0
7957,10.0,10.0,10.0,10.0,10.0,1.0,4.0,1.0,10.0,3.0,...,6.0,1.0,10.0,10.0,10.0,1.0,2.0,1.0,8.0,1.0
3890,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0,1.0,...,9.0,10.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17456,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,5.0,3.0,...,10.0,10.0,5.0,10.0,10.0,10.0,10.0,10.0,4.0,1.0
10487,10.0,10.0,10.0,10.0,10.0,1.0,10.0,10.0,3.0,1.0,...,7.0,10.0,1.0,10.0,1.0,1.0,1.0,1.0,1.0,10.0

In [5]:
import pandas as pd

# 원본 데이터프레임에서 원하는 컬럼들을 선택하여 새로운 데이터프레임 생성
feature_df_5q = feature_df.filter(regex=".*[1-5]Q_Rank$", axis=1)

# 새로운 데이터프레임 출력
feature_df_5q

,가공1Q_Rank,가공2Q_Rank,가공3Q_Rank,가공4Q_Rank,가공5Q_Rank,신선1Q_Rank,신선2Q_Rank,신선3Q_Rank,신선4Q_Rank,신선5Q_Rank,...,TEVE1Q_Rank,TEVE2Q_Rank,TEVE3Q_Rank,TEVE4Q_Rank,TEVE5Q_Rank,TMID1Q_Rank,TMID2Q_Rank,TMID3Q_Rank,TMID4Q_Rank,TMID5Q_Rank
6207,10.0,10.0,10.0,10.0,10.0,1.0,1.0,1.0,1.0,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,1.0,10.0
7957,10.0,10.0,10.0,10.0,10.0,10.0,3.0,3.0,2.0,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,2.0
3890,10.0,10.0,10.0,10.0,10.0,2.0,1.0,2.0,1.0,2.0,...,10.0,10.0,1.0,1.0,10.0,1.0,1.0,1.0,1.0,1.0
17456,10.0,10.0,10.0,10.0,10.0,5.0,3.0,2.0,2.0,3.0,...,10.0,10.0,10.0,10.0,10.0,5.0,10.0,10.0,10.0,10.0
10487,10.0,10.0,10.0,10.0,10.0,3.0,1.0,1.0,1.0,1.0,...,10.0,9.0,10.0,1.0,1.0,1.0,10.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,...,6.0,1.0,4.0,10.0,1.0,3.0,1.0,1.0,1.0,3.0
18684,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,2.0,5.0,5.0,1.0,1.0,1.0,1.0,1.0
8735,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,...,1.0,1.0,1.0,4.0,5.0,3.0,1.0,2.0,1.0,6.0
16129,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,...,1.0,2.0,2.0,9.0,7.0,7.0,10.0,10.0,8.0,10.0
3375,1.0,1.0,1.0,3.0,4.0,1.0,1.0,1.0,2.0,3.0,...,2.0,4.0,2.0,5.0,5.0,1.0,1.0,1.0,1.0,2.0

In [6]:
import pandas as pd

# 새로운 데이터프레임 생성
new_df = pd.DataFrame()

# 원하는 계산을 수행하여 새로운 컬럼 추가
categories = ['A', 'B', 'C', 'D', '가공', '신선', '외식/편의시설', '일상', '가구', '스포츠', '의류', '패션잡화',\
              '유아/아동', '명품', '가전', '교육/문화', '뷰티', '의료', 'TOTAL', 'VIS', 'TMOR', 'TLUN', 'TAFT', 'TEVE', 'TMID' ]  # 카테고리 리스트

for category in categories:
    category_cols = [col for col in feature_df_5q.columns if col.startswith(category)]
    
    for i in range(len(category_cols) - 1):
        curr_col = category_cols[i]
        next_col = category_cols[i + 1]
        new_col = next_col + ' - ' + curr_col
        new_df[new_col] = feature_df_5q[next_col] - feature_df_5q[curr_col]

# 새로운 데이터프레임 출력
new_df

,A2Q_Rank - A1Q_Rank,A3Q_Rank - A2Q_Rank,A4Q_Rank - A3Q_Rank,A5Q_Rank - A4Q_Rank,B2Q_Rank - B1Q_Rank,B3Q_Rank - B2Q_Rank,B4Q_Rank - B3Q_Rank,B5Q_Rank - B4Q_Rank,C2Q_Rank - C1Q_Rank,C3Q_Rank - C2Q_Rank,...,TAFT4Q_Rank - TAFT3Q_Rank,TAFT5Q_Rank - TAFT4Q_Rank,TEVE2Q_Rank - TEVE1Q_Rank,TEVE3Q_Rank - TEVE2Q_Rank,TEVE4Q_Rank - TEVE3Q_Rank,TEVE5Q_Rank - TEVE4Q_Rank,TMID2Q_Rank - TMID1Q_Rank,TMID3Q_Rank - TMID2Q_Rank,TMID4Q_Rank - TMID3Q_Rank,TMID5Q_Rank - TMID4Q_Rank
6207,1.0,0.0,1.0,-2.0,0.0,0.0,-6.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,0.0,9.0
7957,-2.0,0.0,-2.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,-6.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,1.0
3890,0.0,0.0,0.0,0.0,0.0,2.0,1.0,-2.0,0.0,0.0,...,0.0,-5.0,0.0,-9.0,0.0,9.0,0.0,0.0,0.0,0.0
17456,0.0,0.0,2.0,-2.0,0.0,0.0,0.0,2.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
10487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,-1.0,1.0,-9.0,0.0,9.0,-9.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,1.0,-1.0,2.0,-2.0,0.0,3.0,1.0,-1.0,0.0,0.0,...,4.0,0.0,-5.0,3.0,6.0,-9.0,-2.0,0.0,0.0,2.0
18684,0.0,2.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,-1.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0
8735,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,0.0,...,-3.0,0.0,0.0,0.0,3.0,1.0,-2.0,1.0,-1.0,5.0
16129,0.0,3.0,2.0,-2.0,0.0,0.0,3.0,-1.0,0.0,0.0,...,2.0,-4.0,1.0,0.0,7.0,-2.0,3.0,0.0,-2.0,2.0
3375,2.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,-1.0,1.0,2.0,-2.0,3.0,0.0,0.0,0.0,0.0,1.0

In [73]:
# new_df.to_excel('new_df.xlsx')

In [30]:
# new_df.columns

In [7]:
import pandas as pd

# 새로운 데이터프레임 생성
result_df = pd.DataFrame()

# 각 카테고리별로 합계 및 절댓값 합계 계산
categories = ['A', 'B', 'C', 'D', '가공', '신선', '외식/편의시설', '일상', '가구', '스포츠', '의류', '패션잡화',\
              '유아/아동', '명품', '가전', '교육/문화', '뷰티', '의료', 'TOTAL', 'VIS', 'TMOR', 'TLUN', 'TAFT', 'TEVE', 'TMID' ]  # 카테고리 리스트

for category in categories:
    category_cols = [col for col in new_df.columns if col.startswith(category)]
    
    # 합계 계산
    sum_col = f'{category}_Sum'
    result_df[sum_col] = new_df[category_cols].sum(axis=1)
    
    # 절댓값 합계 계산
    abs_sum_col = f'{category}_Abs_Sum'
    result_df[abs_sum_col] = new_df[category_cols].abs().sum(axis=1)

# 새로운 데이터프레임 출력
result_df = result_df.sort_index()
result_df

,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,D_Abs_Sum,가공_Sum,가공_Abs_Sum,...,TMOR_Sum,TMOR_Abs_Sum,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum
1,0.0,2.0,2.0,4.0,4.0,10.0,0.0,0.0,4.0,8.0,...,3.0,15.0,0.0,2.0,-1.0,1.0,5.0,9.0,0.0,0.0
2,0.0,6.0,1.0,1.0,0.0,0.0,0.0,0.0,-5.0,7.0,...,0.0,26.0,0.0,2.0,0.0,2.0,1.0,11.0,0.0,0.0
3,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,-1.0,5.0,...,1.0,1.0,-1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,4.0,1.0,3.0,-1.0,9.0,0.0,0.0,1.0,11.0,...,0.0,4.0,0.0,4.0,1.0,7.0,0.0,2.0,0.0,0.0
6,1.0,3.0,-1.0,1.0,1.0,9.0,0.0,0.0,-1.0,7.0,...,-4.0,4.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,0.0,2.0,-1.0,3.0,0.0,0.0,9.0,9.0,-2.0,8.0,...,0.0,0.0,-1.0,9.0,1.0,3.0,1.0,1.0,4.0,4.0
19334,0.0,0.0,2.0,6.0,4.0,4.0,0.0,0.0,6.0,10.0,...,4.0,8.0,3.0,5.0,3.0,7.0,-2.0,8.0,2.0,4.0
19335,1.0,1.0,3.0,5.0,2.0,4.0,0.0,0.0,4.0,8.0,...,1.0,5.0,4.0,4.0,-1.0,11.0,2.0,10.0,0.0,0.0
19336,4.0,6.0,0.0,0.0,0.0,0.0,2.0,10.0,4.0,10.0,...,0.0,16.0,2.0,6.0,6.0,8.0,6.0,10.0,0.0,0.0
19337,1.0,3.0,1.0,1.0,4.0,6.0,0.0,0.0,3.0,3.0,...,2.0,2.0,1.0,5.0,0.0,4.0,1.0,1.0,5.0,7.0

In [8]:
demo = pd.read_csv('DEMO_거주통합.csv', encoding='cp949', index_col=0)

In [9]:
result_df = result_df.merge(demo, left_index=True, right_index=True)
# merged_df.to_excel('merged_df.xlsx')

new_columns = ['성별', '연령대', '거주지역'] + list(result_df.columns[:-3])
result_df = result_df[new_columns]
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TMOR_Sum,TMOR_Abs_Sum,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum
1,M,60세이상,1.0,0.0,2.0,2.0,4.0,4.0,10.0,0.0,...,3.0,15.0,0.0,2.0,-1.0,1.0,5.0,9.0,0.0,0.0
2,M,60세이상,100.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,...,0.0,26.0,0.0,2.0,0.0,2.0,1.0,11.0,0.0,0.0
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,1.0,1.0,-1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
4,F,60세이상,1.0,0.0,4.0,1.0,3.0,-1.0,9.0,0.0,...,0.0,4.0,0.0,4.0,1.0,7.0,0.0,2.0,0.0,0.0
6,F,60세이상,240.0,1.0,3.0,-1.0,1.0,1.0,9.0,0.0,...,-4.0,4.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,0.0,2.0,-1.0,3.0,0.0,0.0,9.0,...,0.0,0.0,-1.0,9.0,1.0,3.0,1.0,1.0,4.0,4.0
19334,M,35세~39세,310.0,0.0,0.0,2.0,6.0,4.0,4.0,0.0,...,4.0,8.0,3.0,5.0,3.0,7.0,-2.0,8.0,2.0,4.0
19335,F,35세~39세,540.0,1.0,1.0,3.0,5.0,2.0,4.0,0.0,...,1.0,5.0,4.0,4.0,-1.0,11.0,2.0,10.0,0.0,0.0
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,2.0,...,0.0,16.0,2.0,6.0,6.0,8.0,6.0,10.0,0.0,0.0
19337,M,20세~24세,1.0,1.0,3.0,1.0,1.0,4.0,6.0,0.0,...,2.0,2.0,1.0,5.0,0.0,4.0,1.0,1.0,5.0,7.0

In [10]:
import pandas as pd

for i in master_set.index:
    q1, q5 = master_set.loc[i, ['TOTAL1Q', 'TOTAL5Q']]
    cagr = (q5 / q1) ** (1/4) - 1
    master_set.loc[i, 'CAGR'] = cagr

master_set.head(2)

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,TMID1Q,TMID2Q,TMID3Q,TMID4Q,TMID5Q,TMID6Q,TMID7Q,TMID8Q,RECENCY,CAGR
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,466150.685252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.004385
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,450597.653185,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0.069544

In [11]:
result_df['CAGR'] = master_set['CAGR']
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TMOR_Abs_Sum,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum,CAGR
1,M,60세이상,1.0,0.0,2.0,2.0,4.0,4.0,10.0,0.0,...,15.0,0.0,2.0,-1.0,1.0,5.0,9.0,0.0,0.0,0.004385
2,M,60세이상,100.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,...,26.0,0.0,2.0,0.0,2.0,1.0,11.0,0.0,0.0,0.069544
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,1.0,-1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.019971
4,F,60세이상,1.0,0.0,4.0,1.0,3.0,-1.0,9.0,0.0,...,4.0,0.0,4.0,1.0,7.0,0.0,2.0,0.0,0.0,0.073198
6,F,60세이상,240.0,1.0,3.0,-1.0,1.0,1.0,9.0,0.0,...,4.0,0.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,0.136944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,0.0,2.0,-1.0,3.0,0.0,0.0,9.0,...,0.0,-1.0,9.0,1.0,3.0,1.0,1.0,4.0,4.0,0.085312
19334,M,35세~39세,310.0,0.0,0.0,2.0,6.0,4.0,4.0,0.0,...,8.0,3.0,5.0,3.0,7.0,-2.0,8.0,2.0,4.0,0.194840
19335,F,35세~39세,540.0,1.0,1.0,3.0,5.0,2.0,4.0,0.0,...,5.0,4.0,4.0,-1.0,11.0,2.0,10.0,0.0,0.0,0.237534
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,2.0,...,16.0,2.0,6.0,6.0,8.0,6.0,10.0,0.0,0.0,0.593172
19337,M,20세~24세,1.0,1.0,3.0,1.0,1.0,4.0,6.0,0.0,...,2.0,1.0,5.0,0.0,4.0,1.0,1.0,5.0,7.0,1.384833

In [12]:
result_df['RECENCY'] = master_set['RECENCY']
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum,CAGR,RECENCY
1,M,60세이상,1.0,0.0,2.0,2.0,4.0,4.0,10.0,0.0,...,0.0,2.0,-1.0,1.0,5.0,9.0,0.0,0.0,0.004385,1
2,M,60세이상,100.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,...,0.0,2.0,0.0,2.0,1.0,11.0,0.0,0.0,0.069544,1
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,-1.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.019971,3
4,F,60세이상,1.0,0.0,4.0,1.0,3.0,-1.0,9.0,0.0,...,0.0,4.0,1.0,7.0,0.0,2.0,0.0,0.0,0.073198,0
6,F,60세이상,240.0,1.0,3.0,-1.0,1.0,1.0,9.0,0.0,...,0.0,4.0,1.0,1.0,0.0,0.0,0.0,0.0,0.136944,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,0.0,2.0,-1.0,3.0,0.0,0.0,9.0,...,-1.0,9.0,1.0,3.0,1.0,1.0,4.0,4.0,0.085312,1
19334,M,35세~39세,310.0,0.0,0.0,2.0,6.0,4.0,4.0,0.0,...,3.0,5.0,3.0,7.0,-2.0,8.0,2.0,4.0,0.194840,10
19335,F,35세~39세,540.0,1.0,1.0,3.0,5.0,2.0,4.0,0.0,...,4.0,4.0,-1.0,11.0,2.0,10.0,0.0,0.0,0.237534,0
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,2.0,...,2.0,6.0,6.0,8.0,6.0,10.0,0.0,0.0,0.593172,3
19337,M,20세~24세,1.0,1.0,3.0,1.0,1.0,4.0,6.0,0.0,...,1.0,5.0,0.0,4.0,1.0,1.0,5.0,7.0,1.384833,1

In [13]:
calculation1 = ((master_set['TOTAL6Q'] - master_set['TOTAL1Q']) / master_set['TOTAL1Q']-0.7)/(1+0.7)
calculation2 = ((master_set['TOTAL6Q'].sum() - master_set['TOTAL1Q'].sum()) / master_set['TOTAL1Q'].sum()-0.7)/(1+0.7)
result_df['6Q_TARGET'] = calculation1.apply(lambda x: 1 if x < calculation2 else 0)

In [15]:
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum,CAGR,RECENCY,6Q_TARGET
1,M,60세이상,1.0,0.0,2.0,2.0,4.0,4.0,10.0,0.0,...,2.0,-1.0,1.0,5.0,9.0,0.0,0.0,0.004385,1,1
2,M,60세이상,100.0,0.0,6.0,1.0,1.0,0.0,0.0,0.0,...,2.0,0.0,2.0,1.0,11.0,0.0,0.0,0.069544,1,1
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.019971,3,1
4,F,60세이상,1.0,0.0,4.0,1.0,3.0,-1.0,9.0,0.0,...,4.0,1.0,7.0,0.0,2.0,0.0,0.0,0.073198,0,0
6,F,60세이상,240.0,1.0,3.0,-1.0,1.0,1.0,9.0,0.0,...,4.0,1.0,1.0,0.0,0.0,0.0,0.0,0.136944,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,0.0,2.0,-1.0,3.0,0.0,0.0,9.0,...,9.0,1.0,3.0,1.0,1.0,4.0,4.0,0.085312,1,1
19334,M,35세~39세,310.0,0.0,0.0,2.0,6.0,4.0,4.0,0.0,...,5.0,3.0,7.0,-2.0,8.0,2.0,4.0,0.194840,10,1
19335,F,35세~39세,540.0,1.0,1.0,3.0,5.0,2.0,4.0,0.0,...,4.0,-1.0,11.0,2.0,10.0,0.0,0.0,0.237534,0,0
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,2.0,...,6.0,6.0,8.0,6.0,10.0,0.0,0.0,0.593172,3,0
19337,M,20세~24세,1.0,1.0,3.0,1.0,1.0,4.0,6.0,0.0,...,5.0,0.0,4.0,1.0,1.0,5.0,7.0,1.384833,1,0

In [16]:
result_df.to_excel('X_train_1-5Q.xlsx')