In [ ]:
# import warnings
# warnings.filterwarnings('ignore')

# import pandas as pd

# master_set_ori = pd.read_excel('master_set_ori.xlsx', index_col=0)

# columns_to_check = ['TOTAL1Q', 'TOTAL2Q', 'TOTAL3Q', 'TOTAL4Q', 'TOTAL5Q', 'TOTAL6Q', 'TOTAL7Q', 'TOTAL8Q']
# master_set = master_set_ori[~(master_set_ori[columns_to_check] == 0).any(axis=1)]

# master_set_ori[master_set_ori[columns_to_check] == 0].count()

# count_zero = (master_set_ori[columns_to_check] == 0).sum().sum()
# count_zero

# total_sum = master_set[columns_to_check].sum()
# total_sum.sum()

# count_zero = (master_set[columns_to_check] == 0).sum().sum()
# count_zero

# master_set.to_excel('master_set.xlsx')

In [ ]:
# 668434549192.8291 0인 고객 제한 총액
# 18866 - 0인 고객 제한 인원수 (ori는 19384)
# 0인 고객 총 1169명  518명

# total_sum.sum()

In [ ]:
# master_set_ori[~(master_set_ori[columns_to_check] == 0).any(axis=1)]

In [1]:
# 분기별 구개금액이 0인 고객 제거한 master_set 불러오기

import warnings
warnings.filterwarnings('ignore')

import pandas as pd

master_set = pd.read_excel('master_set.xlsx', index_col=0)
master_set.head(2)

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,TEVE8Q,TMID1Q,TMID2Q,TMID3Q,TMID4Q,TMID5Q,TMID6Q,TMID7Q,TMID8Q,RECENCY
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,466150.685252,...,984057.341938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,450597.653185,...,151827.095030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,M,60세이상,33.0,1.982888e+05,341327.314311,356286.278356,256474.749474,1.523105e+05,221026.887625,183493.013605,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,F,60세이상,16.0,4.092347e+05,576566.953015,390289.977825,200602.069066,5.442174e+05,521389.693765,450709.258221,...,153412.958580,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,F,60세이상,240.0,3.745589e+05,469875.763562,225718.625352,354691.920624,3.932110e+05,323734.885693,398286.632232,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [ ]:
import pandas as pd

# 모든 열을 담을 리스트 생성
column_list = []

# master_set의 모든 열을 리스트에 추가
for col in master_set.columns:
    column_list.append(col)

# 결과 출력
print(column_list)

In [2]:
import pandas as pd
import re

# 등급을 매길 컬럼들의 이름 리스트
columns = [col for col in master_set.columns if re.match(r".*[1-8]Q$", col)]

# 등급을 저장할 새로운 컬럼들의 이름 리스트
rank_columns = [col + "_Rank" for col in columns]

# 결과를 저장할 데이터프레임 생성
feature_df = pd.DataFrame()

# 등급을 매기는 반복문
for i in range(len(columns)):
    column = columns[i]
    rank_column = rank_columns[i]
    
    # 데이터프레임에서 해당 컬럼을 기준으로 내림차순 정렬
    sorted_df = master_set.sort_values(by=column, ascending=False)
    
    # 해당 컬럼을 기준으로 순위 매기기
    sorted_df[rank_column] = pd.qcut(sorted_df[column][sorted_df[column] != 0], q=10, labels=False, duplicates='drop') + 1
    
    # 0인 값을 rank 1로 할당
    sorted_df.loc[sorted_df[column] == 0, rank_column] = 1
    
    # 결과를 결과 데이터프레임에 추가
    feature_df = pd.concat([feature_df, sorted_df[rank_column]], axis=1)

# 결과 확인
feature_df.head()

# result_df.to_csv('등급결과.csv')
# result_df.to_excel('feature_df.xlsx')

,가공1Q_Rank,가공2Q_Rank,가공3Q_Rank,가공4Q_Rank,가공5Q_Rank,가공6Q_Rank,가공7Q_Rank,가공8Q_Rank,신선1Q_Rank,신선2Q_Rank,...,TEVE7Q_Rank,TEVE8Q_Rank,TMID1Q_Rank,TMID2Q_Rank,TMID3Q_Rank,TMID4Q_Rank,TMID5Q_Rank,TMID6Q_Rank,TMID7Q_Rank,TMID8Q_Rank
6207,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,1.0,...,10.0,10.0,10.0,10.0,1.0,1.0,10.0,10.0,1.0,10.0
7957,10.0,10.0,10.0,10.0,10.0,1.0,4.0,1.0,10.0,3.0,...,6.0,1.0,10.0,10.0,10.0,1.0,2.0,1.0,8.0,1.0
3890,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,2.0,1.0,...,9.0,10.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17456,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,5.0,3.0,...,10.0,10.0,5.0,10.0,10.0,10.0,10.0,10.0,4.0,1.0
10487,10.0,10.0,10.0,10.0,10.0,1.0,10.0,10.0,3.0,1.0,...,7.0,10.0,1.0,10.0,1.0,1.0,1.0,1.0,1.0,10.0

In [3]:
import pandas as pd

# 원본 데이터프레임에서 원하는 컬럼들을 선택하여 새로운 데이터프레임 생성
feature_df_6q = feature_df.filter(regex=".*[1-6]Q_Rank$", axis=1)

# 새로운 데이터프레임 출력
feature_df_6q

,가공1Q_Rank,가공2Q_Rank,가공3Q_Rank,가공4Q_Rank,가공5Q_Rank,가공6Q_Rank,신선1Q_Rank,신선2Q_Rank,신선3Q_Rank,신선4Q_Rank,...,TEVE3Q_Rank,TEVE4Q_Rank,TEVE5Q_Rank,TEVE6Q_Rank,TMID1Q_Rank,TMID2Q_Rank,TMID3Q_Rank,TMID4Q_Rank,TMID5Q_Rank,TMID6Q_Rank
6207,10.0,10.0,10.0,10.0,10.0,10.0,1.0,1.0,1.0,1.0,...,10.0,10.0,10.0,10.0,10.0,10.0,1.0,1.0,10.0,10.0
7957,10.0,10.0,10.0,10.0,10.0,1.0,10.0,3.0,3.0,2.0,...,10.0,10.0,10.0,1.0,10.0,10.0,10.0,1.0,2.0,1.0
3890,10.0,10.0,10.0,10.0,10.0,10.0,2.0,1.0,2.0,1.0,...,1.0,1.0,10.0,8.0,1.0,1.0,1.0,1.0,1.0,1.0
17456,10.0,10.0,10.0,10.0,10.0,10.0,5.0,3.0,2.0,2.0,...,10.0,10.0,10.0,10.0,5.0,10.0,10.0,10.0,10.0,10.0
10487,10.0,10.0,10.0,10.0,10.0,1.0,3.0,1.0,1.0,1.0,...,10.0,1.0,1.0,1.0,1.0,10.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,...,4.0,10.0,1.0,5.0,3.0,1.0,1.0,1.0,3.0,1.0
18684,1.0,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0,5.0,5.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
8735,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,4.0,5.0,3.0,3.0,1.0,2.0,1.0,6.0,2.0
16129,1.0,1.0,1.0,2.0,2.0,3.0,1.0,1.0,1.0,2.0,...,2.0,9.0,7.0,6.0,7.0,10.0,10.0,8.0,10.0,9.0
3375,1.0,1.0,1.0,3.0,4.0,5.0,1.0,1.0,1.0,2.0,...,2.0,5.0,5.0,6.0,1.0,1.0,1.0,1.0,2.0,3.0

In [4]:
import pandas as pd

# 새로운 데이터프레임 생성
new_df = pd.DataFrame()

# 원하는 계산을 수행하여 새로운 컬럼 추가
categories = ['A', 'B', 'C', 'D', '가공', '신선', '외식/편의시설', '일상', '가구', '스포츠', '의류', '패션잡화',\
              '유아/아동', '명품', '가전', '교육/문화', '뷰티', '의료', 'TOTAL', 'VIS', 'TMOR', 'TLUN', 'TAFT', 'TEVE', 'TMID' ]   # 카테고리 리스트

for category in categories:
    category_cols = [col for col in feature_df_6q.columns if col.startswith(category)]
    
    for i in range(len(category_cols) - 1):
        curr_col = category_cols[i]
        next_col = category_cols[i + 1]
        new_col = next_col + ' - ' + curr_col
        new_df[new_col] = feature_df_6q[next_col] - feature_df_6q[curr_col]

# 새로운 데이터프레임 출력
new_df

,A2Q_Rank - A1Q_Rank,A3Q_Rank - A2Q_Rank,A4Q_Rank - A3Q_Rank,A5Q_Rank - A4Q_Rank,A6Q_Rank - A5Q_Rank,B2Q_Rank - B1Q_Rank,B3Q_Rank - B2Q_Rank,B4Q_Rank - B3Q_Rank,B5Q_Rank - B4Q_Rank,B6Q_Rank - B5Q_Rank,...,TEVE2Q_Rank - TEVE1Q_Rank,TEVE3Q_Rank - TEVE2Q_Rank,TEVE4Q_Rank - TEVE3Q_Rank,TEVE5Q_Rank - TEVE4Q_Rank,TEVE6Q_Rank - TEVE5Q_Rank,TMID2Q_Rank - TMID1Q_Rank,TMID3Q_Rank - TMID2Q_Rank,TMID4Q_Rank - TMID3Q_Rank,TMID5Q_Rank - TMID4Q_Rank,TMID6Q_Rank - TMID5Q_Rank
6207,1.0,0.0,1.0,-2.0,0.0,0.0,0.0,-6.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-9.0,0.0,9.0,0.0
7957,-2.0,0.0,-2.0,1.0,-3.0,0.0,0.0,0.0,0.0,-9.0,...,0.0,0.0,0.0,0.0,-9.0,0.0,0.0,-9.0,1.0,-1.0
3890,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,-2.0,-1.0,...,0.0,-9.0,0.0,9.0,-2.0,0.0,0.0,0.0,0.0,0.0
17456,0.0,0.0,2.0,-2.0,0.0,0.0,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
10487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-6.0,...,-1.0,1.0,-9.0,0.0,0.0,9.0,-9.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18912,1.0,-1.0,2.0,-2.0,0.0,0.0,3.0,1.0,-1.0,-3.0,...,-5.0,3.0,6.0,-9.0,4.0,-2.0,0.0,0.0,2.0,-2.0
18684,0.0,2.0,1.0,-1.0,-1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,3.0,0.0,-3.0,0.0,0.0,0.0,0.0,0.0
8735,-1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,-2.0,...,0.0,0.0,3.0,1.0,-2.0,-2.0,1.0,-1.0,5.0,-4.0
16129,0.0,3.0,2.0,-2.0,-3.0,0.0,0.0,3.0,-1.0,-2.0,...,1.0,0.0,7.0,-2.0,-1.0,3.0,0.0,-2.0,2.0,-1.0
3375,2.0,0.0,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,2.0,-2.0,3.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0

In [ ]:
# new_df.to_excel('new_df.xlsx')

In [ ]:
# new_df.columns

In [5]:
import pandas as pd

# 새로운 데이터프레임 생성
result_df = pd.DataFrame()

# 각 카테고리별로 합계 및 절댓값 합계 계산
categories = ['A', 'B', 'C', 'D', '가공', '신선', '외식/편의시설', '일상', '가구', '스포츠', '의류', '패션잡화',\
              '유아/아동', '명품', '가전', '교육/문화', '뷰티', '의료', 'TOTAL', 'VIS', 'TMOR', 'TLUN', 'TAFT', 'TEVE', 'TMID' ]   # 카테고리 리스트

for category in categories:
    category_cols = [col for col in new_df.columns if col.startswith(category)]
    
    # 합계 계산
    sum_col = f'{category}_Sum'
    result_df[sum_col] = new_df[category_cols].sum(axis=1)
    
    # 절댓값 합계 계산
    abs_sum_col = f'{category}_Abs_Sum'
    result_df[abs_sum_col] = new_df[category_cols].abs().sum(axis=1)

# 새로운 데이터프레임 출력
result_df = result_df.sort_index()
result_df

,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,D_Abs_Sum,가공_Sum,가공_Abs_Sum,...,TMOR_Sum,TMOR_Abs_Sum,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum
1,0.0,2.0,0.0,6.0,5.0,11.0,0.0,0.0,1.0,11.0,...,3.0,15.0,0.0,2.0,-2.0,2.0,6.0,10.0,0.0,0.0
2,-1.0,7.0,0.0,2.0,0.0,0.0,8.0,8.0,-9.0,11.0,...,-7.0,33.0,0.0,2.0,0.0,2.0,3.0,13.0,0.0,0.0
3,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,6.0,...,0.0,2.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,4.0,3.0,5.0,1.0,11.0,0.0,0.0,1.0,11.0,...,6.0,10.0,1.0,5.0,0.0,8.0,0.0,2.0,0.0,0.0
6,1.0,3.0,-2.0,2.0,-4.0,14.0,0.0,0.0,-2.0,8.0,...,4.0,12.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,-1.0,3.0,-1.0,3.0,0.0,0.0,9.0,9.0,-4.0,10.0,...,0.0,0.0,-3.0,11.0,0.0,4.0,0.0,2.0,5.0,5.0
19334,0.0,0.0,-1.0,9.0,4.0,4.0,0.0,0.0,1.0,15.0,...,0.0,12.0,0.0,8.0,1.0,9.0,-3.0,9.0,1.0,5.0
19335,3.0,3.0,3.0,5.0,2.0,4.0,0.0,0.0,3.0,9.0,...,1.0,5.0,4.0,4.0,3.0,15.0,-1.0,13.0,0.0,0.0
19336,4.0,6.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,13.0,...,0.0,16.0,0.0,8.0,6.0,8.0,8.0,12.0,0.0,0.0
19337,0.0,4.0,0.0,2.0,5.0,7.0,0.0,0.0,6.0,6.0,...,1.0,3.0,0.0,6.0,0.0,4.0,2.0,2.0,6.0,8.0

In [6]:
demo = pd.read_csv('DEMO_거주통합.csv', encoding='cp949', index_col=0)

In [7]:
result_df = result_df.merge(demo, left_index=True, right_index=True)
# merged_df.to_excel('merged_df.xlsx')

new_columns = ['성별', '연령대', '거주지역'] + list(result_df.columns[:-3])
result_df = result_df[new_columns]
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TMOR_Sum,TMOR_Abs_Sum,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum
1,M,60세이상,1.0,0.0,2.0,0.0,6.0,5.0,11.0,0.0,...,3.0,15.0,0.0,2.0,-2.0,2.0,6.0,10.0,0.0,0.0
2,M,60세이상,100.0,-1.0,7.0,0.0,2.0,0.0,0.0,8.0,...,-7.0,33.0,0.0,2.0,0.0,2.0,3.0,13.0,0.0,0.0
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,2.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
4,F,60세이상,1.0,0.0,4.0,3.0,5.0,1.0,11.0,0.0,...,6.0,10.0,1.0,5.0,0.0,8.0,0.0,2.0,0.0,0.0
6,F,60세이상,240.0,1.0,3.0,-2.0,2.0,-4.0,14.0,0.0,...,4.0,12.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,-1.0,3.0,-1.0,3.0,0.0,0.0,9.0,...,0.0,0.0,-3.0,11.0,0.0,4.0,0.0,2.0,5.0,5.0
19334,M,35세~39세,310.0,0.0,0.0,-1.0,9.0,4.0,4.0,0.0,...,0.0,12.0,0.0,8.0,1.0,9.0,-3.0,9.0,1.0,5.0
19335,F,35세~39세,540.0,3.0,3.0,3.0,5.0,2.0,4.0,0.0,...,1.0,5.0,4.0,4.0,3.0,15.0,-1.0,13.0,0.0,0.0
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,16.0,0.0,8.0,6.0,8.0,8.0,12.0,0.0,0.0
19337,M,20세~24세,1.0,0.0,4.0,0.0,2.0,5.0,7.0,0.0,...,1.0,3.0,0.0,6.0,0.0,4.0,2.0,2.0,6.0,8.0

In [9]:
import pandas as pd

for i in master_set.index:
    q1, q6 = master_set.loc[i, ['TOTAL1Q', 'TOTAL6Q']]
    cagr = (q6 / q1) ** (1/5) - 1
    master_set.loc[i, 'CAGR'] = cagr

master_set.head(2)

,성별,연령대,거주지역,가공1Q,가공2Q,가공3Q,가공4Q,가공5Q,가공6Q,가공7Q,...,TMID1Q,TMID2Q,TMID3Q,TMID4Q,TMID5Q,TMID6Q,TMID7Q,TMID8Q,RECENCY,CAGR
고객번호,,,,,,,,,,,,,,,,,,,,,
1,M,60세이상,60.0,4.877151e+05,366192.084776,733992.532409,826031.841207,1.099272e+06,628006.449843,466150.685252,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,-0.013245
2,M,60세이상,100.0,1.006891e+06,555333.324191,760255.552324,592126.637609,4.984414e+05,184896.525363,450597.653185,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,-0.080898

In [10]:
result_df['CAGR'] = master_set['CAGR']
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TMOR_Abs_Sum,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum,CAGR
1,M,60세이상,1.0,0.0,2.0,0.0,6.0,5.0,11.0,0.0,...,15.0,0.0,2.0,-2.0,2.0,6.0,10.0,0.0,0.0,-0.013245
2,M,60세이상,100.0,-1.0,7.0,0.0,2.0,0.0,0.0,8.0,...,33.0,0.0,2.0,0.0,2.0,3.0,13.0,0.0,0.0,-0.080898
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,2.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005623
4,F,60세이상,1.0,0.0,4.0,3.0,5.0,1.0,11.0,0.0,...,10.0,1.0,5.0,0.0,8.0,0.0,2.0,0.0,0.0,0.078386
6,F,60세이상,240.0,1.0,3.0,-2.0,2.0,-4.0,14.0,0.0,...,12.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.049347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,-1.0,3.0,-1.0,3.0,0.0,0.0,9.0,...,0.0,-3.0,11.0,0.0,4.0,0.0,2.0,5.0,5.0,-0.021214
19334,M,35세~39세,310.0,0.0,0.0,-1.0,9.0,4.0,4.0,0.0,...,12.0,0.0,8.0,1.0,9.0,-3.0,9.0,1.0,5.0,-0.017536
19335,F,35세~39세,540.0,3.0,3.0,3.0,5.0,2.0,4.0,0.0,...,5.0,4.0,4.0,3.0,15.0,-1.0,13.0,0.0,0.0,0.247946
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,...,16.0,0.0,8.0,6.0,8.0,8.0,12.0,0.0,0.0,0.516572
19337,M,20세~24세,1.0,0.0,4.0,0.0,2.0,5.0,7.0,0.0,...,3.0,0.0,6.0,0.0,4.0,2.0,2.0,6.0,8.0,1.088824

In [11]:
result_df['RECENCY'] = master_set['RECENCY']
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TLUN_Sum,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum,CAGR,RECENCY
1,M,60세이상,1.0,0.0,2.0,0.0,6.0,5.0,11.0,0.0,...,0.0,2.0,-2.0,2.0,6.0,10.0,0.0,0.0,-0.013245,1
2,M,60세이상,100.0,-1.0,7.0,0.0,2.0,0.0,0.0,8.0,...,0.0,2.0,0.0,2.0,3.0,13.0,0.0,0.0,-0.080898,1
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005623,3
4,F,60세이상,1.0,0.0,4.0,3.0,5.0,1.0,11.0,0.0,...,1.0,5.0,0.0,8.0,0.0,2.0,0.0,0.0,0.078386,0
6,F,60세이상,240.0,1.0,3.0,-2.0,2.0,-4.0,14.0,0.0,...,0.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.049347,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,-1.0,3.0,-1.0,3.0,0.0,0.0,9.0,...,-3.0,11.0,0.0,4.0,0.0,2.0,5.0,5.0,-0.021214,1
19334,M,35세~39세,310.0,0.0,0.0,-1.0,9.0,4.0,4.0,0.0,...,0.0,8.0,1.0,9.0,-3.0,9.0,1.0,5.0,-0.017536,10
19335,F,35세~39세,540.0,3.0,3.0,3.0,5.0,2.0,4.0,0.0,...,4.0,4.0,3.0,15.0,-1.0,13.0,0.0,0.0,0.247946,0
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,8.0,6.0,8.0,8.0,12.0,0.0,0.0,0.516572,3
19337,M,20세~24세,1.0,0.0,4.0,0.0,2.0,5.0,7.0,0.0,...,0.0,6.0,0.0,4.0,2.0,2.0,6.0,8.0,1.088824,1

In [12]:
calculation1 = ((master_set['TOTAL7Q'] - master_set['TOTAL1Q']) / master_set['TOTAL1Q']-0.7)/(1+0.7)
calculation2 = ((master_set['TOTAL7Q'].sum() - master_set['TOTAL1Q'].sum()) / master_set['TOTAL1Q'].sum()-0.7)/(1+0.7)
result_df['7Q_TARGET'] = calculation1.apply(lambda x: 1 if x < calculation2 else 0)

In [13]:
result_df

,성별,연령대,거주지역,A_Sum,A_Abs_Sum,B_Sum,B_Abs_Sum,C_Sum,C_Abs_Sum,D_Sum,...,TLUN_Abs_Sum,TAFT_Sum,TAFT_Abs_Sum,TEVE_Sum,TEVE_Abs_Sum,TMID_Sum,TMID_Abs_Sum,CAGR,RECENCY,7Q_TARGET
1,M,60세이상,1.0,0.0,2.0,0.0,6.0,5.0,11.0,0.0,...,2.0,-2.0,2.0,6.0,10.0,0.0,0.0,-0.013245,1,1
2,M,60세이상,100.0,-1.0,7.0,0.0,2.0,0.0,0.0,8.0,...,2.0,0.0,2.0,3.0,13.0,0.0,0.0,-0.080898,1,1
3,M,60세이상,1.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.005623,3,0
4,F,60세이상,1.0,0.0,4.0,3.0,5.0,1.0,11.0,0.0,...,5.0,0.0,8.0,0.0,2.0,0.0,0.0,0.078386,0,0
6,F,60세이상,240.0,1.0,3.0,-2.0,2.0,-4.0,14.0,0.0,...,4.0,0.0,2.0,0.0,0.0,0.0,0.0,0.049347,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19333,F,25세~29세,NaN,-1.0,3.0,-1.0,3.0,0.0,0.0,9.0,...,11.0,0.0,4.0,0.0,2.0,5.0,5.0,-0.021214,1,1
19334,M,35세~39세,310.0,0.0,0.0,-1.0,9.0,4.0,4.0,0.0,...,8.0,1.0,9.0,-3.0,9.0,1.0,5.0,-0.017536,10,1
19335,F,35세~39세,540.0,3.0,3.0,3.0,5.0,2.0,4.0,0.0,...,4.0,3.0,15.0,-1.0,13.0,0.0,0.0,0.247946,0,0
19336,F,35세~39세,1.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,...,8.0,6.0,8.0,8.0,12.0,0.0,0.0,0.516572,3,0
19337,M,20세~24세,1.0,0.0,4.0,0.0,2.0,5.0,7.0,0.0,...,6.0,0.0,4.0,2.0,2.0,6.0,8.0,1.088824,1,0

In [15]:
result_df.to_excel('X_test_1-6Q.xlsx')